<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VDG Cup - Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header"></div>

    <div id="addClimber">

      <div>
        <label for="climberName">Name :</label>
        <input type="text" placeholder="climber name" id="climberName">
      </div>

      <div id="addClimberButton">Add climber</div>

    </div>

    <div id="addPerformance">

      <div>
        <label for="selectName">Name :</label>
        <select type="text" id="selectName"></select>
      </div>
      <div id="blocTitle">
        <p>Blocs</p>
      </div>

      <div class="row">
        <div class="col">
          <div>
            <label for="bloc1">Bloc 1 :</label>
            <input type="checkbox" id="bloc1" name="perf">
          </div>
          <div>
            <label for="bloc2">Bloc 2 :</label>
            <input type="checkbox" id="bloc2" name="perf">
          </div>
          <div>
            <label for="bloc3">Bloc 3 :</label>
            <input type="checkbox" id="bloc3" name="perf">
          </div>
          <div>
            <label for="bloc4">Bloc 4 :</label>
            <input type="checkbox" id="bloc4" name="perf">
          </div>
          <div>
            <label for="bloc5">Bloc 5 :</label>
            <input type="checkbox" id="bloc5" name="perf">
          </div>
        </div>
        <div class="col">
          <div>
            <label for="bloc6">Bloc 6 :</label>
            <input type="checkbox" id="bloc6" name="perf">
          </div>
          <div>
            <label for="bloc7">Bloc 7 :</label>
            <input type="checkbox" id="bloc7" name="perf">
          </div>
          <div>
            <label for="bloc8">Bloc 8 :</label>
            <input type="checkbox" id="bloc8" name="perf">
          </div>
          <div>
            <label for="bloc9">Bloc 9 :</label>
            <input type="checkbox" id="bloc9" name="perf">
          </div>
          <div>
            <label for="bloc10">Bloc 10 :</label>
            <input type="checkbox" id="bloc10" name="perf">
          </div>
        </div>
        <div class="col">
          <div>
            <label for="bloc11">Bloc 11 :</label>
            <input type="checkbox" id="bloc11" name="perf">
          </div>
          <div>
            <label for="bloc12">Bloc 12 :</label>
            <input type="checkbox" id="bloc12" name="perf">
          </div>
          <div>
            <label for="bloc13">Bloc 13 :</label>
            <input type="checkbox" id="bloc13" name="perf">
          </div>
          <div>
            <label for="bloc14">Bloc 14 :</label>
            <input type="checkbox" id="bloc14" name="perf">
          </div>
          <div>
            <label for="bloc15">Bloc 15 :</label>
            <input type="checkbox" id="bloc15" name="perf">
          </div>
        </div>
      </div>

    </div>


    <script src="script.js"></script>
    <script src="form.js"></script>
  </body>
</html>
