<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOC - Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header"></div>

    <div id="addClimber">

      <div>
        <label for="name">Name :</label>
        <input type="text" id="name">
      </div>

      <div id="addClimberButton">Add climber</div>

    </div>

    <div id="addPerformance">

      <div>
        <label for="climberName">Name :</label>
        <select type="text" id="climberName"></select>
      </div>

      <div>
        <p>Blocs</p>
        <div>
          <label for="bloc1">Bloc 1 :</label>
          <input type="checkbox" id="bloc1">
        </div>
        <div>
          <label for="bloc2">Bloc 2 :</label>
          <input type="checkbox" id="bloc2">
        </div>
        <div>
          <label for="bloc3">Bloc 3 :</label>
          <input type="checkbox" id="bloc3">
        </div>
        <div>
          <label for="bloc4">Bloc 4 :</label>
          <input type="checkbox" id="bloc4">
        </div>
        <div>
          <label for="bloc5">Bloc 5 :</label>
          <input type="checkbox" id="bloc5">
        </div>
        <div>
          <label for="bloc6">Bloc 6 :</label>
          <input type="checkbox" id="bloc6">
        </div>
        <div>
          <label for="bloc7">Bloc 7 :</label>
          <input type="checkbox" id="bloc7">
        </div>
        <div>
          <label for="bloc8">Bloc 8 :</label>
          <input type="checkbox" id="bloc8">
        </div>
        <div>
          <label for="bloc9">Bloc 9 :</label>
          <input type="checkbox" id="bloc9">
        </div>
        <div>
          <label for="bloc10">Bloc 10 :</label>
          <input type="checkbox" id="bloc10">
        </div>
      </div>

      <div id="saveAll">Save</div>

    </div>


    <script src="script.js"></script>
  </body>
</html>
