<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VDG Cup - Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header"></div>

    <div id="addClimber" class="addRow">

      <div>
        <label for="climberName">Name :</label>
        <input type="text" id="climberName">
      </div>

      <div>
        <label>Gender :</label>
        <input type="radio" name="climberGender" value="men" checked> Men
        <input type="radio" name="climberGender" value="women"> Women
      </div>

      <div id="addClimberButton" class="button">Add climber</div>

    </div>

    <div id="addPerformance" class="addCol">

      <div>
        <label for="selectName">Choose a climber :</label>
        <select type="text" id="selectName"></select>
      </div>

      <div class="row">
        <div>
          <label for="blocId">Choose a bloc id and update it :</label>
          <input type="number" min="1" id="selectBlocId">
        </div>
        <div id="addPerformanceButton" class="button">Add bloc</div>
        <div id="removePerformanceButton" class="button">Remove bloc</div>
      </div>

    </div>


    <script src="script.js"></script>
    <script src="form.js"></script>
  </body>
</html>
