<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VDG Cup - Settings</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header"></div>

    <div id="addRouteSetter" class="addRow">

      <div>
        <label for="setterName">Route setter name :</label>
        <input type="text" id="setterName">
      </div>

      <div id="addRouteSetterButton" class="button">Add route setter</div>

    </div>

    <div id="addBloc" class="addCol">

      <div>
        <label for="blocId">Bloc ID :</label>
        <input type="number" placeholder="1 - 10000" min="1" max="10000" id="blocId">
      </div>

      <div>
        <label for="routeSetterName">Route setter name :</label>
        <select type="text" id="routeSetterName"></select>
      </div>

      <div>
        <label for="blocDate">Bloc date :</label>
        <input type="date" id="blocDate">
      </div>

      <div>
        <label for="blocPlace">Bloc place :</label>
        <select type="text" id="blocPlace"></select>
      </div>

      <div id="addBlocButton" class="button">Add bloc</div>

    </div>


    <script src="script.js"></script>
    <script src="settings.js"></script>
  </body>
</html>
