<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VDG Cup - Settings</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header"></div>

    <div id="addRouteSetter" class="addRow">

      <div>
        <label for="setterName">Route setter name :</label>
        <input type="text" id="setterName">
      </div>

      <div id="addRouteSetterButton" class="button">Add route setter</div>

    </div>

    <div id="addBloc" class="addCol">

      <div>
        <div id="lBlocId">Next bloc ID : <span id="blocId"></span></div>

      </div>

      <div id="addBlocButton" class="button">Add bloc</div>

    </div>

    <div id="deleteBloc" class="addCol">

      <div>
        <label for="blocToDeleteId">Select a bloc to delete :</label>
        <input type="number" min="1" id="blocToDeleteId">
      </div>

      <div id="deleteBlocButton" class="button">Delete bloc</div>

    </div>

    <script src="script.js"></script>
    <script src="settings.js"></script>
  </body>
</html>
